* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url("bg.jpg") no-repeat center center/ cover;
}

.container {
    width: 500px;
    height: 450px;
}

.header {
    font-size: 1.7rem;
    border: 2px solid white;
    background-color: #262626;
    color: white;
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px;
    width: 50%;
}

.main-content {
    background-color: white;
    border-radius: 15px;
    padding: 50px 40px;
    box-shadow: 0 0 10px;
}

.main-content .text-area {
    font-size: 1.5rem;
    line-height: 1.5;
}

.main-content .author {
    font-size: 1.6rem;
    color: red;
    text-transform: uppercase;
    margin-top: 20px;
}

.button-area button {
    background-color: #262626;
    color: white;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button-area button:active {
    background-color: lightblue;
}
